body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,"Roboto";
  background-color: #FCFCFC;
}

//"Helvetica Neue", Helvetica, Arial, sans-serif,"Roboto";

h1 {
  font-size: 2.1rem;
  // font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.7rem; }
h4,
h5,
h6 { font-size: 1.5rem; }

img {
  width: 100%;
}

header,
footer {
  text-align: center;
  color: white;
  height: 56px;
  background: #0a385b;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
main {
  height: 30rem;
}

// about top page
.site-title{

  //font-family: Gulim;
  font-family: Century Gothic;
}
$sidebar-width: 25%;
$area-margin: 10px;
$articleArea-width: calc(100 - $sidebar-width - $area-margin * 4); //todo 効かせる

/*

*/
.sidebar-menu{
  float: left;
  width: $sidebar-width;
  color: black;
  margin: $area-margin;
  padding-left: 10px;
  border-right: 1px solid #dfdfdf;
  a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,"Roboto";
    // "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  }
  .sidebar-section{
    list-style: none;
  }
  .sidebar-section a{
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,"Roboto";
    font-size: 20px;
  }
  .sidebar-subseaction{
    list-style: none;
  }
  .sidebar-subseaction-item a{
    font-size: 12px;
    color: gray;
  }
}

$iosGray: #a6a8ac;
$androidGreen: #6cb14b;

.category-column{
  width: 100%;
  .topCategory {
    list-style-type: none;
    height: 9rem;
    margin: 0;
    font-size: 3rem;
    // font-family: gulim;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    line-height: 9rem;
    display: block;
    a {
      color: black !important;
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 6rem;
    }
    &.basic {
      background-color: white;
      a {
        color: black!important;;
      }
    }
    &.ios{
      background-color: $iosGray;
      a {
        color: white!important;
      }
    }
    &.android{
      background-color: $androidGreen;
      a {
        color: white!important;
      }
    }
  }
}


.intro{
  display: inline-block;
  margin: 0 20px;
}
.categories{
}
.site-title {
  color: white;
  line-height: 56px;
}


.articleArea {
  margin: $area-margin;
  // width: $articleArea-width; //todo 効かせる
  width: 65%;
  display: inline-block;
}


.container {
  width: 100%;
  /*max-width: 600px;*/
}


.rule_images{
  width: 80%;
  margin: 10px auto;
  text-align: center;
  display: block;
}
.header-logo img:hover {
  border-color: #F1F1F1;
}


.entry-title {
  argin-bottom: 0;
  font-size: 3rem;
}

.entry-title a {
  text-decoration: none;
}

.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #888;
}

.footer-link {
  margin: 2rem 0;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}

/* ==========================================================================
   nui-icon
   ========================================================================== */
.nui-icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  &.bg{
    background-color: black; //これだけapp用に追加
  }
}


/* ==========================================================================
   Icon
   ========================================================================== */
.demo-icon-examples {
	clear: both;
	margin: 20px 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
.demo-icon-example {
	float: left;
	margin: 0 0 20px;
	padding: 0;
	width: 180px;
	min-height: 155px;
	text-align: center;
}
.demo-icon-examples .nui-icon {
	display: inline-block;
	border: 1px dotted #333;
	width: 98px;
	height: 98px;
	font-size: 80px;
	line-height: 100px;
	text-align: center;
}
.demo-icon-examples .nui-icon.nui-icon--spinner {
  border: 0;
}
.demo-icon-label {
	display: block;
	padding: 5px 0;
	font-size: 14px;
	color: #333;
}
///////////ここまで、nui-iconより////////////
// public/images/iosicons/ 配下のiconたち
/**
  home
**/

.ios-homeicon{
  background-image: url('/images/iosIcons/AppIcon.appiconset/homeicon_180px.png');
}
/**
  article
**/
.ios-evernote_logo{
  background-image: url('/images/iosIcons/Article/evernote_logo.imageset/evernote_logo.png');
}
.ios-icon_action{
  background-image: url('/images/iosIcons/Article/icon_action.imageset/icon_action.png');
}
.ios-icon_gift{ //todo 要修正
  background-image: url('/images/iosIcons/Article/icon_gift.imageset/gift_44-44.pdf');
}

.ios-icon_next{
  background-image: url('/images/iosIcons/Article/icon_next.imageset/icon_next@3x.png');
}
.ios-icon_prev{
  background-image: url('/images/iosIcons/Article/icon_prev.imageset/icon_prev@3x.png');
}
.ios-save_filled{
  background-image: url('/images/iosIcons/Article/icon_save_filled.imageset/saved_icon_66px.png');
}
.ios-save_outline{
  background-image: url('/images/iosIcons/Article/icon_save_outline.imageset/save_icon_66px.png');
}
/**
  empty
**/
.ios-icon_empty_follow{
  background-image: url('/images/iosIcons/Empty/icon_empty_follow.imageset/ab.png');
}
.ios-icon_empty_mynews{
  background-image: url('/images/iosIcons/Empty/icon_empty_mynews.imageset/mynews.png');
}
.ios-icon_empty_news{
  background-image: url('/images/iosIcons/Empty/icon_empty_news.imageset/news.png');
}
.ios-icon_empty_paper{
  background-image: url('/images/iosIcons/Empty/icon_empty_paper.imageset/paper.png');
}
.ios-icon_empty_scrap{
  background-image: url('/images/iosIcons/Empty/icon_empty_scrap.imageset/save.png');
}
.ios-icon_empty_search{
  background-image: url('/images/iosIcons/Empty/icon_empty_search.imageset/search.png');
}
.ios-icon_empty_topic{
  background-image: url('/images/iosIcons/Empty/icon_empty_topic.imageset/topic.png');
}
/**
  headline
**/
.ios-icon_check{
  background-image: url('/images/iosIcons/Headline/icon_check.imageset/done-2.png');
}
.ios-icon_checkbox_filled{
  background-image: url('/images/iosIcons/Headline/icon_checkbox_filled.imageset/chekbox_filled.png');
}
.ios-icon_checkbox_outline{
  background-image: url('/images/iosIcons/Headline/icon_checkbox_outline.imageset/chekboxoutline.png');
}
.ios-icon_clipping{
  background-image: url('/images/iosIcons/Headline/icon_clipping.imageset.imageset/keyword_66px.png');
}
.ios-icon_company-industry{
  background-image: url('/images/iosIcons/Headline/icon_company-industry/66w.png');
}


/**
  tab
**/
.ios-icon_daily{
  background-image: url('/images/iosIcons/Tab/icon_daily.imageset/choyukanicon_75px.png');
}
.ios-icon_web{
  background-image: url('/images/iosIcons/Tab/icon_web.imageset/webkanicon_75px.png');
}
.ios-icon_mynews{
  background-image: url('/images/iosIcons/Tab/icon_mynews.imageset/mynews_75px.png');
}
