<ul class="sidebar-menu">
  <li class="sidebar-section"><a href="../concept/">Concept</a></li>
  <ul class="sidebar-subseaction">
    <li class="sidebar-subseaction-item"><a href="../concept/#osのルールに準拠する">OSのルールに準拠する</a></li>
    <li class="sidebar-subseaction-item"><a href="../concept/#シンプルであること">シンプルであること</a></li>
    <li class="sidebar-subseaction-item"><a href="../concept/#コアバリューを毀損しない">コアバリューを毀損しない</a></li>
  </ul>
  <li class="sidebar-section"><a href="../iOS/">iOS</a></li>
  <ul class="sidebar-subseaction">
    <li class="sidebar-subseaction-item"><a href="../ios/#ios-global-navi">Global Navi</a></li>
    <li class="sidebar-subseaction-item"><a href="../ios/#ios-colors">Colors</a></li>
    <li class="sidebar-subseaction-item"><a href="../ios/#ios-fonts">fonts</a></li>
    <li class="sidebar-subseaction-item"><a href="../ios/#ios-icon">Icons</a></li>
    <li class="sidebar-subseaction-item"><a href="../ios/#ios-button">buttons</a></li>
  </ul>

  <li class="sidebar-section"><a href="../Android">Android</a></li>
  <ul class="sidebar-subseaction">
    <li class="sidebar-subseaction-item"><a href="../android/#android-global-navi">Global Navi</a></li>
    <li class="sidebar-subseaction-item"><a href="../android/#android-colors">Colors</a></li>
    <li class="sidebar-subseaction-item"><a href="../android/#android-fonts">Fonts</a></li>
    <li class="sidebar-subseaction-item"><a href="../android/#android-icons">Icons</a></li>
    <li class="sidebar-subseaction-item"><a href="../android/#android-buttons">buttons</a></li>
  </ul>

</ul>