
<ul class="sidebar-menu">
    <li class="sidebar-section"><a href="../concept/">Concept</a></li>
        <ul class="sidebar-subseaction">
            <li class="sidebar-subseaction-item"><a href="../concept/#osのルールに準拠する">OSのルールに準拠する</a></li>
            <li class="sidebar-subseaction-item"><a href="../concept/#シンプルであること">シンプルであること</a></li>
            <li class="sidebar-subseaction-item"><a href="../concept/#コアバリューを毀損しない">コアバリューを毀損しない</a></li>
        </ul>
    <li class="sidebar-section"><a href="../iOS/">iOS</a></li>
    <ul class="sidebar-subseaction">
        <li class="sidebar-subseaction-item"><a href="../iOS/#ios-colors">colors</a></li>
        <li class="sidebar-subseaction-item"><a href="../iOS/#ios-fonts">fonts</a></li>
        <li class="sidebar-subseaction-item"><a href="../iOS/#ios-details">details</a></li>
    </ul>

    <li class="sidebar-section"><a href="../Android">Android</a></li>
    <ul class="sidebar-subseaction">
        <li class="sidebar-subseaction-item"><a href="../android/#android-colors">colors</a></li>
        <li class="sidebar-subseaction-item"><a href="../android/#android-font">fonts</a></li>
        <li class="sidebar-subseaction-item"><a href="../android/#android-detail">details</a></li>
    </ul>

</ul>
